.panel {
    background-color: rgba(89, 89, 89, 0.46);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

.panel_badges {
    background-color: rgba(255, 76, 76, 0.65);
    flex-basis: 100%;
    border-bottom-width: 0;
    margin-bottom: 5px;
}
