.avatarText {
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    font-size: 63px;
}

.avatarImg {
    font-size: 73px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    background-color: rgb(255, 0, 0);
}
