.margin {
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.size {
    width: 100px;
    height: 100px;
    background-color: rgb(118, 118, 118);
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    align-self: flex-start;
}

#Center > Label {
    background-color: rgb(255, 0, 0);
}

#Right > * {
}

#Left * {
    width: 100px;
    height: 100px;
}
