.margin {
    background-color: rgb(255, 255, 255);
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
}

.size {
    width: 100px;
    height: 100px;
    background-color: rgb(118, 118, 118);
    margin-top: 40px;
    margin-right: 40px;
    margin-bottom: 40px;
    margin-left: 40px;
    align-self: flex-start;
}

#Center > Label {
    background-color: rgb(255, 0, 0);
}

#Right > * {
}

#Left * {
    width: 100px;
    height: 100px;
}

.size > VisualElement {
}

#Center:hover > Label {
    border-left-color: rgb(255, 0, 0);
    border-right-color: rgb(255, 0, 0);
    border-top-color: rgb(255, 0, 0);
    border-bottom-color: rgb(255, 0, 0);
    border-top-width: 10px;
    border-right-width: 10px;
    border-bottom-width: 10px;
    border-left-width: 10px;
}
